body {
    background-image: url("../images/bgz.jpg");
    font-family: 'Special Elite', cursive;
}

.text {
    font-size: 50px;
    text-align: right;
    color: rgb(255, 115, 0);
    font-weight: bold;
    
}

.text1 {
    font-size: 30px;
    text-align: right;
    color: rgb(255, 115, 0);
    font-weight: bold;
}